apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-frontend
  namespace: argocddemo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-frontend
  template:
    metadata:
      labels:
        app: angular-frontend
    spec:
      containers:
      - name: angular-frontend
        image: tybahmed/front:v1 
        ports:
        - containerPort: 80
        env:
        - name: BASEURL
          value: "http://pacemacker-1.onetech-group.corp" 
        - name: PORT
          value: "31771"                          
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
